.header {
    background-color: #1d2126; 
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.menu-nav {
    display: flex;
    justify-content:space-between ;
}
[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-7 {
    width :56%;
}
.col-md-2 {
    width: 19%;
}
