/* style */
/*  font-family: 'Open Sans', sans-serif; 
    font-family: 'Quattrocento Sans', sans-serif;
*/

/* Header + menu  */

.header {
    background-color: #1d2126; 
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.menu-header {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 100%;
}

/* col-md  */
.col-md-3 {
    width: 25%;
}
[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-7 {
    width :66%;
}
.col-md-2 {
    width: 19%;
}
/* a */
a {
    text-decoration: none;
}
.menu-header > div > a {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/* search */
.search {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.search-button {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: white;
    background-image: url(icon1.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    right: 25px;
    top: 16px;
}

